
@using admin_master_pro__mvc_.Models;
@model EmployeeViewModel
@{
    ViewBag.Title = "Delete";
    Layout = null;
}
@{ 
<div class="modal-content">
    <div class="modal-header">
        @*<a href="#" class="close" data-dismiss="modal">&times;</a>*@
        <h4>Delete Student Record</h4>
       
    </div>
    <div class="modal-body">
        <input type="hidden" id="ID" name="ID">
        <h4>Are you sure want to delete this record?</h4>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">No, Cancel</a>
        <a href="#" class="btn btn-danger" onclick="DeleteEmployee('@Model.ID')">Yes, Delete</a>

    </div>
</div>
}
